# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Credentials
*.json

# OS files
.DS_Store

# Personal reference files
open_source_pulse_project_outline.odt
project_hierarchy.txt
who_does_what.png

# Git Commands to run at the beginning of each session 
Standard_opening_commands.txt